luis_beuth-mobile.UWP/obj
luis_beuth-mobile.UWP/bin
luis_beuth_mobile/luis_beuth_mobile/obj
luis_beuth_mobile/luis_beuth_mobile/bin
luis_beuth_mobile/luis_beuth_mobile.Droid/obj
luis_beuth_mobile/luis_beuth_mobile.Droid/bin
luis_beuth_mobile/luis_beuth_mobile.iOS/obj
luis_beuth_mobile/luis_beuth_mobile.iOS/bin