luis_beuth-mobile.UWP/obj
luis_beuth-mobile.UWP/bin
luis_beuth_mobile/luis_beuth_mobile/obj
luis_beuth_mobile/luis_beuth_mobile/bin
luis_beuth_mobile/luis_beuth_mobile.Droid/obj
luis_beuth_mobile/luis_beuth_mobile.Droid/bin
luis_beuth_mobile/luis_beuth_mobile.iOS/obj
luis_beuth_mobile/luis_beuth_mobile.iOS/bin

# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# Rider
/.idea
